<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ec79">  <td>20/01/13 16:44:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;sampleTest.setUp()[pri:0, instance:com.scandic.runner.sampleTest@7e0b0338]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1241276575</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>20/01/13 16:45:45</td>   <td>87843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampleTest.Test()[pri:0, instance:com.scandic.runner.sampleTest@7e0b0338]">Test</td> 
  <td>main@1241276575</td>   <td></td> </tr>
</table>
