<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Scandic Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa38a">  <td>20/02/08 12:37:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.closeApp()[pri:0, instance:com.scandic.runner.TestRunner@13a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-iPhone-1@748373339</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>20/02/08 12:33:21</td>   <td>-226574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.initializeApp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, int, java.lang.String, java.lang.String)[pri:0, instance:com.scandic.runner.TestRunner@13a5fe33]">&gt;&gt;initializeApp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-iPhone-1@748373339</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/02/08 12:33:34</td>   <td>-212813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleEventWrapper, io.cucumber.testng.CucumberFeatureWrapper)[pri:0, instance:com.scandic.runner.TestRunner@13a5fe33]">runScenario</td> 
  <td>TestNG-test=Test-iPhone-1@748373339</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/02/08 12:33:20</td>   <td>-226708</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.scandic.runner.TestRunner@13a5fe33]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-iPhone-1@748373339</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/02/08 12:37:08</td>   <td>1049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.scandic.runner.TestRunner@13a5fe33]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-iPhone-1@748373339</td>   <td></td> </tr>
</table>
